* {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: transparent;
  padding: 16px;
}

a:hover {
  background-color: gray;
  border-bottom: 2px lightgreen solid;
}

header {
  background-color: black;
}

h1 {
  font-size: 72pt;
  color: yellow;
}
p {
  font-size: 20pt;
  max-width: 30%;
  color: white;
}
body {
  background-color: red;
}
h2 {
  font-size: 31pt;
  color: green;
  line-height: 110px;
}

.special-p {
  background-color: black;
  margin: auto;
}

.article-text {
  background-color: black;
  margin: 120px;
}
b {
  background-color: blue;
}
.ingress-rock {
  color: #000000;
  margin: auto;
}
.rock {
  font-size: 40pt;
  color: red;
  line-height: 120px;
}
.metal {
  background-color: gold;
}
footer {
  background-color: black;
  bottom: 0;
  height: 50px;
  width: 100%;

  margin: 0;
  padding: 0;
}
.ghost {
  font-size: 20pt;
  color: white;
  line-height: 140px;
}
.topp1 {
  background-color: black;
}

ol {
  margin: 16px;
  font-size: 16px;
}
